.res-card {
  background-color: white;
  border: solid 5px teal;
  border-radius: 10px;
  color: teal;
  height: 100%;
  padding: 5%;
  width: 80%
}

.cancel-btn {
  background-color: teal;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  padding: 3%;
  width: 70%
}