.form {
  align-items: center;
  background-color: white;
  border: solid 2px teal;
  display: flex;
  /* flex-direction: column; */
  height: 15vh;
  justify-content: space-evenly;
  margin-bottom: 5%;
  padding: 2%;
  width: 50%
}

input {
  width: 70%
}

.form-header {
  margin: 0
}